div{
	display: inline-block;
	background-color: rgba(128, 128, 128, 0.16);
	padding: 20px;
	text-align: center;
	height: 200px;
	width: 200px;
	font-family: 'Nunito', sans-serif;
	margin-right: 20px;
}
p{
	color: grey;
}
h2{
	color: black;
}
 .blue{
	padding: 10px;
	background-color: grey;
	color: white;
	font-size: 15px;
}

.blue:hover{
	background-color: rgb(210, 203, 203);
	text-decoration-color: black;
	color: black;
	cursor: pointer;
}
.orange{
	padding: 10px;
	background-color: grey;
	color: white;;
	font-size: 15px
}
.orange:hover{
	background-color: rgb(210, 203, 203);
	color: black;
	cursor: pointer;
}

.black{
	padding: 10px;
	background-color: grey;
	color: white;
	font-size: 15px;
}

.black:hover{
	background-color: rgb(210, 203, 203);
	color: black;
	cursor: pointer;
}
